.lp-header {
  background-color: $primary;
  color: #fff;
  padding: 15px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-logo {
    width: 200px;
    display: inline-block;
  }
  .slogan {
    font-size: 13px;
    font-weight: 500;
  }
  a {
    color: #fff;
    &:hover {
      opacity: .8;
    }
  }
  .phone {
    font-size: 18px;
    a {
      display: flex;
      align-items: center;
    }
    svg {
      margin-right: 5px;
    }
  }
  .social {
    margin-left: 15px;
    li {
      display: inline-block;
      font-size: 24px;
      line-height: 1;
      + li {
        margin-left: 3px;
      }
      a {
        display: inline-block;
      }
    }
  }
}
.lp-footer {
  padding: 3rem 0;
  background-color: #1a122d;
  color: #fff;
  a:hover {
    color: #fff;
  }
  .row {
    justify-content: space-between;
  }
  .footer-logo img {
    display: inline-block;
    width: 215px;
  }
  .col {
    flex: 0 0 auto;
    width: 100%;
  }
  .sep {
    display: inline-block;
    width: 60%;
    height: 1px;
    background: #332849;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: .5rem;
  }
  .wrp {
    padding: 45px 0 0;
    background-size: 35px;
    background-position: top center;
    background-repeat: no-repeat;
    &.links {
      background-image: url('../images/lp/icon-links.png');
    }
    &.address {
      background-image: url('../images/lp/icon-address.png');
    }
    &.call {
      background-image: url('../images/lp/icon-phone.png');
    }
  }
}