@media(min-width: 768px) {
  .lp-header {
    padding: 21px 0;
    .container {
      justify-content: space-between;
    }
    .logo-wrp {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    .main-logo {
      width: 180px;
      border-right: 1px solid #fff;
      margin-right: 15px;
      padding-right: 15px;
    }
  }
  .lp-wrp {
    .top-heading h3 {
      font-size: 24px;
    }
    .h2 {
      font-size: 26px;
    }
  }
  .sm-benefit {
    width: 20%;
  }
  .why-choose-cs {
    .icon-wrp {
      font-size: 30px;
    }
  }
  .lp-banner {
    .row {
      flex-direction: row-reverse;
    }
    .content {
      text-align: right;
      h1 {
        margin-top: 2rem;
        font-size: 40px;
      }
    }
  }
  .lp-contact-box {
    .col {
      width: auto;
    }
    .sep {
      width: 1px;
      height: 37px;
    }
  }
  .glamour-evening {
    background-image: url('../images/lp/glamour-evening-bg.jpg');
  }
  .evening-badge {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .lp-footer {
    .row {
      --lp-gutter-x: 0.5rem;
    }
    .col {
      width: auto;
    }
    .wrp {
      padding: 0 0 0 45px;
      background-position: 0 0;
    }
    .sep {
      display: flex;
      width: 1px;
      height: 100%;
    }
  }
  .copy {
    .row {
      flex-direction: row-reverse;
    }
    .social {
      justify-content: end;
    }
  }
  .accordion .toggle {
    font-size: 18px;
    &:after {
      width: 34px;
      height: 34px;
    }
  }
  .what-is-sm {
    &.invert {
      .row {
        flex-direction: row-reverse;
      }
      .col-md-5 {
        text-align: right;
      }
      &:after {
        right: 30%;
        left: 0;
      }
    }
  }
}
/*End min-width: 768px*/
@media(min-width: 768px) and (max-width: 991px) {
  .lp-header {
    .slogan {
      max-width: 210px;
    }
  }
  .testimonial {
    padding: 20px 15px;
  }
}
/*End min-width: 768px and max-width: 991px*/
@media(min-width: 992px) {
  .hide-lg-up {
    display: none !important;
  }
  .lp-header {
    .main-logo {
      width: 200px;
    }
    .slogan {
      font-size: 14px;
    }
    .phone {
      font-size: 22px;
    }
    .social {
      li {
        font-size: 28px;
      }
    }
  }
  .lp-wrp {
    .h2 {
      font-size: 30px;
    }
  }
  .sm-benefit {
    font-size: 16px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &:hover {
      padding: 2rem;
    }
  }
  .lp-banner {
    padding: 2rem 0;
    .content {
      h1 {
        font-size: 60px;
      }
    }
  }
  .glamour-evening h2 {
    font-size: 34px;
  }
}
/*End min-width: 992px*/
@media(min-width: 1280px) {
  .lp-header {
    .main-logo {
      width: 217px;
      margin-right: 19px;
      padding-right: 19px;
    }
    .slogan {
      font-size: 15px;
    }
    .phone {
      font-size: 29px;
    }
    .social {
      margin-left: 25px;
      li {
        font-size: 34px;
      }
    }
  }
  .lp-wrp {
    .top-heading h3 {
      font-size: 30px;
    }
    .h2 {
      font-size: 36px;
    }
    .pt-4 {
      padding-top: 4rem;
    }
    .pb-4 {
      padding-bottom: 4rem;
    }
    .py-4 {
      padding: 4rem 0;
    }
    .pt-5 {
      padding-top: 5rem;
    }
    .pb-5 {
      padding-bottom: 5rem;
    }
    .py-5 {
      padding: 5rem 0;
    }
    .mb-2 {
      margin-bottom: 2rem;
    }
  }
  .what-is-sm {
    .col-md-5, .col-md-7 {
      width: 50%;
    }
  }
  .sm-benefit {
    width: 20%;
    font-size: 18px;
  }
  .why-choose-cs {
    .col-md-4 {
      width: auto;
    }
    .icon-wrp {
      font-size: 40px;
    }
  }
  .mw-295 {
    max-width: 295px;
  }
  .mw-515 {
    max-width: 515px;
  }
  .lp-contact-box {
    padding: 17px 60px;
    a {
      min-width: 200px;
    }
  }
  .recent-treatments {
    margin-top: 3rem;
  }
}
/*End min-width: 1280px*/
@media(max-width: 1279px) {
  .lp-banner {
    background-position: 59% 51%;
  }
}
/*End max-width: 1279px*/
@media(max-width: 991px) {
  .lp-banner {
    background-image: none !important;
    .h3 {
      color: #fff;
      margin-top: 2rem;
    }
  }
  .lp-contact-box {
    .text {
      width: 100%;
      text-align: center;
      br {
        display: none;
      }
    }
  }
  .lp-footer {
    .footer-logo {
      text-align: center;
      width: 100%;
      margin-bottom: 2rem;
    }
    .sep-1 {
      display: none;
    }
  }
}
/*End max-width: 991px*/
@media(max-width: 767px) {
  .lp-header {
    text-align: center;
    .container {
      flex-wrap: wrap;
    }
    .logo-wrp {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 5px;
      justify-content: center;
    }
    .main-logo {
      margin-bottom: 5px;
    }
  }
  .what-is-sm {
    padding-top: 0 !important;
    img {
      margin-bottom: 1rem;
    }
    &:after {
      left: 1%;
      right: 1%;
      top: 15%;
    }
  }
  .lp-banner .content {
    text-align: center;
    h1 br {
      display: none;
    }
  }
  .lp-contact-box {
    text-align: center;
    a.btn {
      min-width: 80%;
    }
  }
  .what-is-sm,
  .sm-benefits,
  .why-choose-cs,
  .glamour-evening {
    text-align: center;
  }
  .why-choose-cs .icon-wrp {
    margin: 1rem auto;
  }
  .lp-footer {
    text-align: center;
    .sep {
      margin: 1rem 0;
    }
  }
  .copy {
    text-align: center;
    .social {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}
/*End max-width: 767px*/
@media(max-width: 599px) {
  .lp-wrp {
    .top-heading h3 {
      br {
        display: none;
      }
    }
    .h2 {
      br {
        display: none;
      }
    }
  }
}
/*End max-width: 599px*/