html {
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
}
.lp-wrp {
  font-size: 15px;
  color: #000000;
  svg {
    width: 1em;
    height: 1em;
  }
  img, svg {
    vertical-align: middle;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .text-primary {
    color: $primary;
  }
  a {
    color: $link-color;
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
  .top-heading {
    text-align: center;
    h3 {
      font-weight: 300;
      font-size: 20px;
      strong {
        font-weight: 900;
      }
    }
  }
  .h2 {
    color: $primary;
    font-weight: 700;
    font-size: 22px;
  }
  .pt-4 {
    padding-top: 2.5rem;
  }
  .pb-4 {
    padding-bottom: 2.5rem;
  }
  .py-4 {
    padding: 2.5rem 0;
  }
  .pt-5 {
    padding-top: 3rem;
  }
  .pb-5 {
    padding-bottom: 3rem;
  }
  .py-5 {
    padding: 3rem 0;
  }
  .mb-2 {
    margin-bottom: 1rem;
  }
}
.what-is-sm {
  position: relative;
  overflow: hidden;
  &:after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    background-color: #eeeeee;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 19px;
  }
  img {
    border-radius: 19px;
  }
}
.sm-benefit {
  flex: 0 0 auto;
  width: 20%;
  font-size: 18px;
  text-transform: uppercase;
  color: #575756;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 19px;
  transition: all .3s ease;
  .icon {
    font-size: 22px;
    color: #8870a4;
    margin-bottom: 1rem;
  }
  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
    padding: 2rem;
    font-weight: 700;
    .icon {
      color: #feb70d;
    }
  }
}