html {
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
}
.fsz-18 {
  font-size: 18px;
}
.d-none {
  display: none;
}
.text-primary {
  color: $primary;
}
.text-center {
  text-align: center;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: .4rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none !important;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn-primary {
  color: #fff !important;
  background-color: $primary;
  border-color: $primary;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);;
}
.btn-primary:focus {
  color: #fff;
  background-color: darken($primary, 15%);
  border-color: darken($primary, 15%);
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
}
.btn-secondary {
  color: #fff !important;
  background-color: $secondary;
  border-color: $secondary;
}
.btn-secondary:hover {
  color: #fff !important;
  background-color: darken($secondary, 10%);
  border-color: darken($secondary, 10%);;
}
.btn-secondary:focus {
  color: #fff;
  background-color: darken($secondary, 15%);
  border-color: darken($secondary, 15%);
  box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5);
}
.btn-info {
  color: #624a7a !important;
  background-color: #fff;
  border-color: #fff;
}
.btn-info:hover {
  color: #fff !important;
  background-color: darken($primary, 5%);
  border-color: darken($primary, 5%);;
}
.btn-info:focus {
  color: #fff;
  background-color: darken($primary, 10%);
  border-color: darken($primary, 10%);
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
}
.btn-outline-info {
  color: #fff !important;
  border-color: #fff;
}
.btn-outline-info:hover {
  color: #624a7a !important;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(#fff, 0.5);
}
.btn-outline-primary {
  color: $primary !important;
  border-color: $primary;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: $primary;
  border-color: $primary;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
}
.lp-wrp {
  font-size: 15px;
  color: #000000;
  svg {
    width: 1em;
    height: 1em;
  }
  img, svg {
    vertical-align: middle;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: $link-color;
    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
  .top-heading {
    text-align: center;
    h3 {
      font-weight: 300;
      font-size: 20px;
      strong {
        font-weight: 900;
      }
    }
  }
  .h2 {
    color: $primary;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.33;
  }
  .h3 {
    color: $primary;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
  }
  .pt-4 {
    padding-top: 2.5rem;
  }
  .pb-4 {
    padding-bottom: 2.5rem;
  }
  .py-4 {
    padding: 2.5rem 0;
  }
  .pt-5 {
    padding-top: 3rem;
  }
  .pb-5 {
    padding-bottom: 3rem;
  }
  .py-5 {
    padding: 3rem 0;
  }
  .mb-1, .mb-2 {
    margin-bottom: 1rem;
  }
  .mb-3 {
    margin-bottom: 2rem;
  }
  .hbspt-form {
    .input {
      margin-bottom: 5px;
      input, textarea, select {
        font-size: 14px;
        width: 100%;
        border-radius: 19px;
        padding: 8px 20px;
      }
      select {
        border-color: #fff;
      }
      textarea {
        min-height: 110px;
      }
    }
    .hs-form-booleancheckbox-display {
      font-size: 13px;
      line-height: 1.1;
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
      margin: 1rem 0;
      span {
        margin-left: 5px;
      }
      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: $primary;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1em;
        height: 1em;
        padding: 0;
        border-radius: 50%;
        //  transform: translateY(-0.075em);
        display: grid;
        place-content: center;
      }
      input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #fff;
        background-color: CanvasText;
      }
      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }
    }
    label {
      font-size: 13px;
      margin-bottom: 5px;
      margin-left: 10px;
    }
    .hs-button {
      margin-top: 1rem;
      @extend .btn;
      @extend .btn-primary;
    }
    .hs-error-msgs {
      margin-top: -5px;
    }
    .hs-error-msg {
      font-size: 11px;
      color: red;
    }
  }
}
.lp-banner {
  background-color: #8870a4;
  background-size: cover;
  background-position: center;
  padding: 0 0 2rem;
  h1 {
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .h3 {
    margin-bottom: .5rem;
  }
  .desc {
    color: #fff;
    font-size: 16px;
  }
  .content {
    .btn {
      min-width: 156px;
      + .btn {
        margin-left: 5px;
      }
    }
  }
  .general-dentistry & {
    background-position: top center;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.what-is-sm {
  position: relative;
  overflow: hidden;
  &:after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    background-color: #eeeeee;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 19px;
  }
  img {
    border-radius: 19px;
  }
}
h4.sub-heading {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.sm-benefit {
  flex: 0 0 auto;
  width: 50%;
  font-size: 15px;
  text-transform: uppercase;
  color: #575756;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 19px;
  transition: all .5s ease;
  p {
    transition: all .3s ease;
  }
  .icon {
    transition: all .3s ease;
    font-size: 22px;
    color: #8870a4;
    margin-bottom: 1rem;
  }
  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
    padding: 1rem;
    font-weight: 700;
    .icon {
      color: #feb70d;
    }
  }
}
.why-choose-cs {
  .row {
    justify-content: space-between;
  }
  .icon-wrp {
    font-size: 26px;
    width: 3.05em;
    height: 3.05em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #dddddd;
    margin-top: 1rem;
  }
  .icon {
    color: $primary;
  }
}
.lp-contact-box {
  background-color: #8870a4;
  padding: 10px 30px;
  border-radius: 3rem;
  .row {
    --lp-gutter-x: .7rem;
    justify-content: space-between;
    align-items: center;
  }
  .col {
    flex: 0 0 auto;
    width: 100%;
    margin: .5rem 0;
  }
  .text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .sep {
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #fff;
  }
  a.btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.recent-treatments {
  margin-top: 2rem;
}
.treatment {
  border-radius: 19px;
  overflow: hidden;
  background-color: #eeeeee;
  .content {
    padding: 28px;
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin-bottom: 1rem;
  }
  .img {
    position: relative;
    width: 100%;
    &::before {
      display: block;
      padding-top: 70%;
      content: "";
    }
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.owl-nav {
  color: #fff;
  margin: 0;
  > * {
    position: absolute;
    top: 45%;
  }
  .owl-prev {
    left: -6%;
  }
  .owl-next {
    right: -6%;
  }
  svg {
    height: 2rem;
    width: 2rem;
  }
}
.glamour-evening {
  color: #fff;
  background: $primary url('../images/lp/glamour-evening-bg-sm.jpg') center / cover no-repeat;
  h2 {
    color: #f6dbb0;
    font-weight: 700;
    font-size: 14px;
    max-width: 390px;
    margin-bottom: 1rem;
  }
  .logo {
    display: inline-block;
    text-align: center;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    line-height: 1.7;
    strong {
      font-size: 17px;
    }
  }
  .evening-badge {
    padding-top: 1rem;
  }
}
.ratio {
  position: relative;
  width: 100%;
  --aspect-ratio: 56.25%;
  &::before {
    display: block;
    padding-top: var(--aspect-ratio);
    content: "";
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.lp-faq {
  color: #fff;
  background-color: #624a7a;
  .h2 {
    color: #fff;
  }
  .p {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
}
.accordion {
  li {
    margin-bottom: 1rem;
  }
  .toggle {
    width: 100%;
    display: block;
    position: relative;
    color: #ffff;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 50px 10px 23px;
    border: 2px solid #8870a4;
    border-radius: 25px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64.51 64.51'%3E%3Ccircle cx='32.25' cy='32.25' r='32.25' fill='%238870a4'/%3E%3Cpath d='M30.53,39.05,21,29.46a2.26,2.26,0,0,1,0-3.19l.8-.8a2.26,2.26,0,0,1,3.19,0l7.31,7.31,7.32-7.31a2.26,2.26,0,0,1,3.19,0l.8.8a2.26,2.26,0,0,1,0,3.19L34,39.05a2.61,2.61,0,0,1-3.45,0Z' fill='%23ddd'/%3E%3C/svg%3E") 50% / contain no-repeat;
    }
  }
  .toggle.active,
  .toggle:hover {
    color: #fff;
    background-color: #8870a4;
    text-decoration: none;
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64.51 64.51'%3E%3Ccircle cx='32.25' cy='32.25' r='32.25' fill='%23ffffff'/%3E%3Cpath d='M30.53,39.05,21,29.46a2.26,2.26,0,0,1,0-3.19l.8-.8a2.26,2.26,0,0,1,3.19,0l7.31,7.31,7.32-7.31a2.26,2.26,0,0,1,3.19,0l.8.8a2.26,2.26,0,0,1,0,3.19L34,39.05a2.61,2.61,0,0,1-3.45,0Z' fill='%23624a7a'/%3E%3C/svg%3E");
    }
  }
  .inner {
    overflow: hidden;
    display: none;
    padding: 1.5rem 0;
    p {
      margin-bottom: .7rem;
      line-height: 1.7;
    }
  }
}
.testimonials {
  .row {
    --lp-gutter-x: 17px;
  }
}
.testimonial {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 19px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
  .icon {
    font-size: 29px;
    margin-bottom: 5px;
  }
  .author {
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
  }
}
.video-testimonials {
  margin: 0 auto;
  max-width: 730px;
  .col-md-6 {
    display: none;
  }
}
.video-link {
  display: block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50px;
    height: 50px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 252.9 252.9'%3E%3Cpath d='M127.86,254.31A126.45,126.45,0,1,1,254.31,127.86,126.59,126.59,0,0,1,127.86,254.31Zm0-224.8a98.35,98.35,0,1,0,98.35,98.35A98.46,98.46,0,0,0,127.86,29.51Z' transform='translate(-1.41 -1.41)' fill='%23fff'/%3E%3Cpath d='M175.08,133.55a6.57,6.57,0,0,0,0-11.38l-36.28-21L102.53,80.28A6.57,6.57,0,0,0,92.67,86v83.78a6.57,6.57,0,0,0,9.86,5.69L138.8,154.5Z' transform='translate(-1.41 -1.41)' fill='%23fff'/%3E%3C/svg%3E") 50% / contain no-repeat;
  }
}
.what-next {
  background-color: #eeeeee;
  .container {
    max-width: 740px !important;
  }
}
.company-values {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  .row {
    --lp-gutter-x: .5rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .col {
    flex: 0 0 auto;
    width: 50%;
  }
  .icon-wrp {
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    font-weight: 700;
  }
  .sep {
    width: 15px;
    height: 15px;
    background-color: #ddd;
    border-radius: 50%;
    transform: translateY(-100%);
  }
}
.lp-testimonials {
  background-color: #eeeeee;
}
.videos-outer {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.team-testimonials {
  .owl-stage {
    display: flex;
  }
}
.team-testimonial {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .icon {
    font-size: 29px;
    margin-bottom: 5px;
  }
  .quote {
    margin-bottom: 5px;
  }
  .name {
    color: #624a7a;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .designation {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .gdc {
    color: #898989;
    font-size: 11px;
    font-weight: 600;
  }
  .img {
    position: absolute;
    right: 15px;
    bottom: 15px;
    a {
      display: block;
      img {
        border-radius: 50%;
      }
    }
  }
  .bottom {
    margin-top: 1rem;
  }
  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
}