// Variables
$primary: #624a7a;
$secondary: #8870a4;
$link-color: $secondary;
/*Owl*/
$nav-background-hover: transparent;
$nav-color: #dddddd;
$nav-color-hover: #333;
$nav-background: transparent;
$dot-width: 14px;
$dot-height: 14px;
$dot-background: $link-color;
$dot-background-active: $primary;
// Image thumbnails