html {
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
}
.lp-wrp {
  svg {
    width: 1em;
    height: 1em;
  }
  img, svg {
    vertical-align: middle;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .text-primary {
    color: $primary;
  }
  .top-heading {
    text-align: center;
    padding: 9% 0 8%;
    h2 {
      font-weight: 300;
      font-size: 30px;
      strong {
        font-weight: 900;
      }
    }
  }
}